<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/js/bootstrap.min.css}" />
</head>
<body class="ml-4">
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{saveBook}" action="#" method="post">
			<div class="mb-3">
		  	<label for="author">Author</label>
				<input type="text" id="author" th:field="*{author}" />
					<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger">Error</div>
			</div>
			<div class="mb-3">
		  	<label for="title">Title</label>
				<input type="text" id="title" th:field="*{title}" />
					<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Error</div>
			</div>
			<div class="mb-3">
		  	<label for="isbn">ISBN</label>
				<input type="text" th:field="*{isbn}" />
			</div>
			<div class="mb-3">
            <label for="publicationYear">Year</label>
            	<input type="text" id="publicationYear" th:field="*{publicationYear}" />
					<div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}" class="text-danger">Error</div>
			</div>
			<div class="mb-3">
			<label for="catlist" class="form-label">Category</label>
				<select id="catlist" th:field="*{kategoria}" class="form-control">
					<option th:each="cat : ${categories}" th:value="${cat.categoryid}"
					th:text="${cat.name}"></option>
				</select>
			</div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>